<a href="https://colab.research.google.com/github/harpreetvirkk/NLP-QuestionAnswerSystem/blob/main/UIP_QnA_SIF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip3 install fse

Collecting fse
  Downloading https://files.pythonhosted.org/packages/0f/59/7c431afd8717322fba20fb7b08f7d07ed94c26d8c4955d854b05f196101e/fse-0.1.15.tar.gz (109kB)
     |████████████████████████████████| 112kB 13.3MB/s
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from fse) (1.18.5)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.6/dist-packages (from fse) (1.4.1)
Requirement already satisfied: smart_open>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from fse) (3.0.0)
Requirement already satisfied: scikit-learn>=0.19.1 in /usr/local/lib/python3.6/dist-packages (from fse) (0.22.2.post1)
Collecting gensim>=3.8.0
  Downloading https://files.pythonhosted.org/packages/2b/e0/fa6326251692056dc880a64eb22117e03269906ba55a6864864d24ec8b4e/gensim-3.8.3-cp36-cp36m-manylinux1_x86_64.whl (24.2MB)
     |████████████████████████████████| 24.2MB 1.4MB/s
Collecting wordfreq>=2.2.1
  Downloading https://files.pythonhosted.org/packages/8f/24/a4c3d79335c2c35d84d1728614ff9115999f7218f30f73f29c81778accc7/wordfreq-2.3.2.tar.gz (32.8MB)
     |████████████████████████████████| 32.8MB 98kB/s
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from fse) (5.4.8)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from smart_open>=1.5.0->fse) (2.23.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.19.1->fse) (0.17.0)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from gensim>=3.8.0->fse) (1.15.0)
Requirement already satisfied: msgpack>=1.0 in /usr/local/lib/python3.6/dist-packages (from wordfreq>=2.2.1->fse) (1.0.0)
Collecting langcodes>=2
  Downloading https://files.pythonhosted.org/packages/09/f7/51b1d31a1ec3023c8eb4b2e11e1571d714c990fa64baf352d5a30f6f9d83/langcodes-2.1.0.tar.gz (5.0MB)
     |████████████████████████████████| 5.0MB 45.6MB/s
Requirement already satisfied: regex in /usr/local/lib/python3.6/dist-packages (from wordfreq>=2.2.1->fse) (2019.12.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->smart_open>=1.5.0->fse) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->smart_open>=1.5.0->fse) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->smart_open>=1.5.0->fse) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->smart_open>=1.5.0->fse) (2020.11.8)
Collecting marisa-trie
  Downloading https://files.pythonhosted.org/packages/20/95/d23071d0992dabcb61c948fb118a90683193befc88c23e745b050a29e7db/marisa-trie-0.7.5.tar.gz (270kB)
     |████████████████████████████████| 276kB 39.7MB/s
Building wheels for collected packages: fse, wordfreq, langcodes, marisa-trie
  Building wheel for fse (setup.py) ... done
  Created wheel for fse: filename=fse-0.1.15-cp36-cp36m-linux_x86_64.whl size=255572 sha256=07ba197942e982db1c2f184b7a2e08e2af7d4361aca6356bc72f4f9b298afaaa
  Stored in directory: /root/.cache/pip/wheels/c9/f9/00/f323d92e0091436ce32f54cb7760b8a229469a184f940c2a4d
  Building wheel for wordfreq (setup.py) ... done
  Created wheel for wordfreq: filename=wordfreq-2.3.2-cp36-none-any.whl size=32817239 sha256=8f748fbe9b8880e4f65e0c5c18a5b3837735c918dcd697cf714d10db2ef646e2
  Stored in directory: /root/.cache/pip/wheels/8d/ba/84/ba6be76208bd2c2124b6586f7967fb87e9f9fb4b4827e5e2c9
  Building wheel for langcodes (setup.py) ... done
  Created wheel for langcodes: filename=langcodes-2.1.0-cp36-none-any.whl size=5068034 sha256=ccc3694ac4ac8282bfc5eb6ca767401f94cb723034e39ac9a516292229180d28
  Stored in directory: /root/.cache/pip/wheels/f7/aa/f5/285652c17bb68a5f6d30bdfeebb517d210cabe18268fcb80b5
  Building wheel for marisa-trie (setup.py) ... done
  Created wheel for marisa-trie: filename=marisa_trie-0.7.5-cp36-cp36m-linux_x86_64.whl size=861142 sha256=fdef550004826cfd4a669bf40c92e982f2df14204bbc5e8ac5324a93fbc9a24f
  Stored in directory: /root/.cache/pip/wheels/45/24/79/022624fc914f0e559fe8a1141aaff1f9df810905a13fc75d57
Successfully built fse wordfreq langcodes marisa-trie
Installing collected packages: gensim, marisa-trie, langcodes, wordfreq, fse
  Found existing installation: gensim 3.6.0
    Uninstalling gensim-3.6.0:
      Successfully uninstalled gensim-3.6.0
Successfully installed fse-0.1.15 gensim-3.8.3 langcodes-2.1.0 marisa-trie-0.7.5 wordfreq-2.3.2

In [2]:
import os
!git clone -l -s https://github.com/harpreetvirkk/NLP-QuestionAnswerSystem rep
%cd rep
!ls dataset

Cloning into 'rep'...
warning: --local is ignored
remote: Enumerating objects: 159, done.
remote: Counting objects: 100% (159/159), done.
remote: Compressing objects: 100% (140/140), done.
remote: Total 159 (delta 17), reused 153 (delta 17), pack-reused 0
Receiving objects: 100% (159/159), 1.52 MiB | 22.89 MiB/s, done.
Resolving deltas: 100% (17/17), done.
/content/rep
S08_question_answer_pairs.txt  S10_question_answer_pairs.txt  text_data_toc.csv
S09_question_answer_pairs.txt  text_data

In [34]:
import pandas as pd
import numpy as np
import re
import unicodedata
import fse
from fse import SplitIndexedList
import gensim.downloader as api
from fse.models import uSIF
from sklearn import metrics
import nltk
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize  
import logging
# logging.basicConfig(format='%(asctime)s : %(threadName)s : %(levelname)s : %(message)s', level=logging.INFO)
pd.set_option('display.max_colwidth', -1)

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

In [19]:
df1 = pd.read_csv('./dataset/S08_question_answer_pairs.txt', sep='\t')
df2 = pd.read_csv('./dataset/S09_question_answer_pairs.txt', sep='\t')
df3 = pd.read_csv('./dataset/S10_question_answer_pairs.txt', sep='\t', encoding = 'ISO-8859-1')
frames = [df1, df2, df3]
df = pd.concat(frames)

In [20]:
def getArticleText(file):
  fpath = './dataset/text_data/'+file+'.txt.clean'
  try:
    f = open(fpath, 'r')
    text = f.read()
  except UnicodeDecodeError:
    f = open(fpath, 'r', encoding = 'ISO-8859-1')
    text = f.read()
  return text

In [21]:
df = df.dropna(subset=['ArticleFile'])
df['ArticleText'] = df['ArticleFile'].apply(lambda x: getArticleText(x))
df['ArticleText'] = df['ArticleText'].apply(lambda x: re.sub(r'(\n)+', '. ', x))
df = df.drop(['DifficultyFromQuestioner', 'DifficultyFromAnswerer', 'ArticleFile'], axis='columns')
df

         ArticleTitle  ...                                        ArticleText
0     Abraham_Lincoln  ...  Abraham Lincoln. Abraham Lincoln (February 12,...
1     Abraham_Lincoln  ...  Abraham Lincoln. Abraham Lincoln (February 12,...
2     Abraham_Lincoln  ...  Abraham Lincoln. Abraham Lincoln (February 12,...
3     Abraham_Lincoln  ...  Abraham Lincoln. Abraham Lincoln (February 12,...
4     Abraham_Lincoln  ...  Abraham Lincoln. Abraham Lincoln (February 12,...
...               ...  ...                                                ...
1453            Zebra  ...  Zebra. Plains zebra. Grevy's zebra. Zebras are...
1454            Zebra  ...  Zebra. Plains zebra. Grevy's zebra. Zebras are...
1455            Zebra  ...  Zebra. Plains zebra. Grevy's zebra. Zebras are...
1456            Zebra  ...  Zebra. Plains zebra. Grevy's zebra. Zebras are...
1457            Zebra  ...  Zebra. Plains zebra. Grevy's zebra. Zebras are...

[3996 rows x 4 columns]

In [22]:
# stop_words = set(stopwords.words('english'))
def cleanQuestion(text):
  text = str(text)
  wnl = nltk.stem.WordNetLemmatizer()
  text = text.lower()
  words = re.sub(r'[^\w\s]', '', text).split()
  # words = [word for word in words if not word in stop_words]
  return " ".join([word for word in words])

def cleanAnswer(text):
  text = str(text)
  wnl = nltk.stem.WordNetLemmatizer()
  text = text.lower()
  words = re.sub(r'[^\w\s]', '', text).split()
  # words = [word for word in words if not word in stop_words]
  return " ".join([word for word in words])

def cleanText(text):
  text = str(text)
  wnl = nltk.stem.WordNetLemmatizer()
  text = text.lower()
  words = re.sub(r'[^\w\s\.\?]', '', text).split()
  # words = [word for word in words if not word in stop_words]
  return " ".join([word for word in words])

In [23]:
df['Question'] = df['Question'].apply(lambda x: cleanQuestion(x))
df['Answer'] = df['Answer'].apply(lambda x: cleanAnswer(x))
df['ArticleText'] = df['ArticleText'].apply(lambda x: cleanText(x))
df

         ArticleTitle  ...                                        ArticleText
0     Abraham_Lincoln  ...  abraham lincoln. abraham lincoln february 12 1...
1     Abraham_Lincoln  ...  abraham lincoln. abraham lincoln february 12 1...
2     Abraham_Lincoln  ...  abraham lincoln. abraham lincoln february 12 1...
3     Abraham_Lincoln  ...  abraham lincoln. abraham lincoln february 12 1...
4     Abraham_Lincoln  ...  abraham lincoln. abraham lincoln february 12 1...
...               ...  ...                                                ...
1453            Zebra  ...  zebra. plains zebra. grevys zebra. zebras are ...
1454            Zebra  ...  zebra. plains zebra. grevys zebra. zebras are ...
1455            Zebra  ...  zebra. plains zebra. grevys zebra. zebras are ...
1456            Zebra  ...  zebra. plains zebra. grevys zebra. zebras are ...
1457            Zebra  ...  zebra. plains zebra. grevys zebra. zebras are ...

[3996 rows x 4 columns]

In [24]:
allQuestion = '. '.join(list(df['Question']))
allAnswer = '. '.join(list(df['Answer']))
allContext = '. '.join(list(df['ArticleText']))
text = allQuestion + allAnswer + allContext
s = SplitIndexedList(text.split('.'))

In [25]:
glove = api.load("glove-wiki-gigaword-100")

In [26]:
from fse.models import uSIF
model = uSIF(glove, workers=2, lang_freq="en")

In [27]:
model.train(s)

(1209160, 18383309)

In [28]:
model.sv.similar_by_word("abraham", wv=glove, indexable=s.items)

[(' abraham lincoln', 21570, 0.9007503986358643),
 (' abraham lincoln', 12064, 0.9007503986358643),
 (' abraham lincoln', 14101, 0.9007503986358643),
 (' abraham lincoln', 24286, 0.9007503986358643),
 (' abraham lincoln', 22928, 0.9007503986358643),
 (' abraham lincoln', 10706, 0.9007503986358643),
 (' abraham lincoln', 28360, 0.9007503986358643),
 (' abraham lincoln', 15459, 0.9007503986358643),
 (' abraham lincoln', 13422, 0.9007503986358643),
 (' abraham lincoln', 19533, 0.9007503986358643)]

In [29]:
q = 'was abraham lincoln the sixteenth president of the united states'
c1 = 'Abraham Lincoln (February 12, 1809 – April 15, 1865) was the sixteenth President of the United States, serving from March 4, 1861 until his assassination.'
c2 = 'Scholars now rank Lincoln among the top three U.S. Presidents, with the majority of those surveyed placing him first.'
c3 = 'Symbolic log cabin at Abraham Lincoln Birthplace National Historic Site.'

tmpq = (q.split(), 0)
tmpc1 = (c1.split(), 0)
tmpc2 = (c2.split(), 0)
tmpc3 = (c3.split(), 0)

print(metrics.pairwise.cosine_similarity(model.infer([tmpq]), model.infer([tmpc1])))
print(metrics.pairwise.cosine_similarity(model.infer([tmpq]), model.infer([tmpc2])))
print(metrics.pairwise.cosine_similarity(model.infer([tmpq]), model.infer([tmpc3])))

[[0.5035991]]
[[0.34502378]]
[[0.1622887]]

In [30]:
df['Question'].iloc[0]

'was abraham lincoln the sixteenth president of the united states'

In [ ]:
def getSim(q, x):
  x = (str(x).split(), 0)
  sim = metrics.pairwise.cosine_similarity(model.infer([q]), model.infer([x]))
  return sim

def getAnswer(question, context):
  q = (str(question).split(), 0)
  c = pd.DataFrame(str(context).split('.'))
  c['sim'] = c[0].apply(lambda x: getSim(q, x))
  max = c.sort_values(by='sim', ascending=False).iloc[:3]
  return max

In [35]:
qno = 10
print('Question: ', df['Question'].iloc[qno])
print('Top Solutions: \n')
getAnswer(df['Question'].iloc[qno], df['ArticleText'].iloc[qno])

Question:  what did the legal tender act of 1862 establish
Top Solutions:

                                                                                                                                                                                       0             sim
497   the legal tender act of 1862 established the united states note the first paper currency in united states history                                                                   [[0.81722957]]
494   also included was the creation of the system of national banks by the national banking acts of 1863 1864 and 1865 which allowed the creation of a strong national financial system  [[0.7636685]]
203   lincoln returned to politics in response to the kansasnebraska act 1854 which expressly repealed the limits on slaverys extent as determined by the missouri compromise 1820        [[0.744259]]

In [36]:
qno = 100
print('Question: ', df['Question'].iloc[qno])
print('Top Solutions: \n')
sol = getAnswer(df['Question'].iloc[qno], df['ArticleText'].iloc[qno])

Question:  was amedeo avogadro born in turin august 9th 1776 to a noble ancient family of piedmont italy
Top Solutions:

                                                                                                                      0            sim
8    amedeo avogadro was born in turin august 9th 1776 to a noble ancient family of piedmont italy                       [[1.0]]
74   note in 1911 victor emmanuel iii was the king of a unified italy with rome instead or turin as its capital          [[0.7332665]]
3    lorenzo romano amedeo carlo avogadro count of quaregna and cerreto august 9 1776 july 9 1856 was an italian savant  [[0.6982341]]

In [44]:
qno = 1234
print('Question: ', df['Question'].iloc[qno])
print('Top Solutions: \n')
getAnswer(df['Question'].iloc[qno], df['ArticleText'].iloc[qno])

Question:  how much time to penguins spend on land
Top Solutions:

                                                                                                                                                                                                            0             sim
32   this is also the distance that antarctic tourists are told to keep from penguins tourists are not supposed to approach closer than 3 meters but are not expected to withdraw if the penguins come closer  [[0.78479326]]
26   they spend half of their life on land and half in the oceans                                                                                                                                              [[0.7688274]]
83   isabelline penguins tend to live shorter lives than normal penguins as they are not well camouflaged against the deep and are often passed over as mates                                                  [[0.75811774]]

In [42]:
qno = 1
print('Question: ', df['Question'].iloc[qno])
print('Top Solutions: \n')
getAnswer(df['Question'].iloc[qno], df['ArticleText'].iloc[qno])

Question:  was abraham lincoln the sixteenth president of the united states
Top Solutions:

                                                                                                          0             sim
619   lincoln illinois is the only city to be named for abraham lincoln before he became president           [[0.84491354]]
0    abraham lincoln                                                                                         [[0.8129417]]
287   photograph showing the march 4 1861 inauguration of abraham lincoln in front of united states capitol  [[0.7974195]]

In [43]:
qno = 600
print('Question: ', df['Question'].iloc[qno])
print('Top Solutions: \n')
getAnswer(df['Question'].iloc[qno], df['ArticleText'].iloc[qno])

Question:  was ford the last surviving member of the warren commission
Top Solutions:

                                                                                                                                                             0             sim
642   ford was the last surviving member of the warren commission                                                                                               [[1.0]]
201   johnson appointed ford to the warren commission a special task force set up to investigate the assassination of president john f                          [[0.8035106]]
253   gerald ford is sworn in as the 38th president of the united states by chief justice warren burger in the white house east room while betty ford looks on  [[0.79951906]]